{% import 'macros/form.html' as form %}

{% if h.check_access('package_create') %}

<div>
    <div class="form-group">
        <label class="control-label" for="database_connection_type">{{ _(' Database Connection Type') }}</label>
        <div class="controls">

            <input data-module-connection_type_selected="{{ data.database_connection_type }}"
                data-module-apiKey="{{api_key}}" data-placeholder="{{ _('Database Connection Type') }}"
                id="database_connection_type" name="database_connection_type"
                class="form-control form-control-lg select2" data-module="fetch-sql" />
        </div>
    </div>

    <div class="form-group" id="form_database_connection">
        <label class="control-label" for="database_connection">{{ _(' Database Connection') }}</label>
        <div class="controls">

            <input data-module-connection_selected="{{ data.database_connection }}"
                data-placeholder="{{ _('Database Connection') }}" data-module-apiKey="{{api_key}}"
                id="database_connection" name="database_connection" class="form-control form-control-lg select2"
                data-module="fetch-sql" />
        </div>
    </div>

    <div class="form-group" id="form_schema_name">
        <label class="control-label" for="schema_name">{{ _('Schema Name') }}</label>
        <div class="controls">

            <input data-module-schema_selected="{{ data.schema_name }}" data-placeholder="{{ _('Schema Name') }}"
                data-module-apiKey="{{api_key}}" id="schema_name" name="schema_name"
                class="form-control form-control-lg select2" data-module="fetch-sql" />
        </div>
    </div>

    <div class="form-group" id="form_table_name">
        <label class="control-label" for="table_name">{{ _('Table Name') }}</label>
        <div class="controls">

            <input data-module-schema_selected="{{ data.table_name }}" data-placeholder="{{ _('Table Name') }}"
                data-module-apiKey="{{api_key}}" id="table_name" name="table_name"
                class="form-control form-control-lg select2" data-module="fetch-sql" />
        </div>
    </div>

</div>
{% endif %}