# CKAN Dockerfile Related
CKAN_BASE_IMAGE=ckan-base-2.9.3:base
CKAN_SERVICE_IMAGE=ckan:latest

# DB image settings
POSTGRES_PASSWORD=ckan
DATASTORE_READONLY_PASSWORD=datastore
PGDATA=/var/lib/postgresql/data/510

# MYSQL DB ENV
MYSQL_DATABASE=testdb
MYSQL_USER=test
MYSQL_PASSWORD=test
MYSQL_ROOT_PASSWORD=test


# Basic
CKAN_SITE_ID=default
CKAN_SITE_URL=http://localhost:5000
CKAN_PORT=5000
CKAN_SQLALCHEMY_URL=postgresql://ckan:ckan@db/ckan
CKAN_DATASTORE_WRITE_URL=postgresql://ckan:ckan@db/datastore
CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:datastore@db/datastore

# Test database connections
TEST_CKAN_SQLALCHEMY_URL=postgres://ckan:ckan@db/ckan_test
TEST_CKAN_DATASTORE_WRITE_URL=postgresql://ckan:ckan@db/datastore_test
TEST_CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:datastore@db/datastore_test

# Other services connections
CKAN_SOLR_URL=http://solr:8983/solr/ckan
CKAN_REDIS_URL=redis://redis:6379/1

TEST_CKAN_SOLR_URL=http://solr:8983/solr/ckan
TEST_CKAN_REDIS_URL=redis://redis:6379/1

# Core settings
CKAN__STORAGE_PATH=/tmp

CKAN__PLUGINS=image_view text_view recline_view envvars scheming_datasets developerpage data_catalog_510
CKAN___SCHEMING__DATASET_SCHEMAS=ckanext.data_catalog_510:dataset-schema.json

CKAN__POSTGRESQL_DB_CONNECTIONS=[{"name":"test","title":"Test","url":"postgresql://ckan:ckan@db/ckan"},{"name":"test1","title":"Test1","url":"postgresql://ckan:ckan@db/ckan"}]
CKAN__MYSQL_DB_CONNECTIONS=[{"name":"test","title":"Test","url":"mysql+pymysql://test:test@mysql/test"}]
CKAN__AZURESQL_DB_CONNECTIONS=[{"name":"test","title":"Test","url":"mssql+pyodbc://ckan:ckan@.database.windows.net/db?driver=ODBC+Driver+17+for+SQL+Server"}]