[submodule "src/ckanext-developerpage"]
	path = src/ckanext-developerpage
	url = https://github.com/datopian/ckanext-developerpage.git
[submodule "src/ckanext-envvars"]
	path = src/ckanext-envvars
	url = https://github.com/okfn/ckanext-envvars.git
[submodule "src/ckanext-scheming"]
	path = src/ckanext-scheming
	url = https://github.com/ckan/ckanext-scheming.git
[submodule "src/ckanext-saml2auth"]
	path = src/ckanext-saml2auth
	url = https://github.com/keitaroinc/ckanext-saml2auth.git
[submodule "src/ckanext-spatial"]
	path = src/ckanext-spatial
	url = https://github.com/ckan/ckanext-spatial.git
[submodule "src/ckanext-geoview"]
	path = src/ckanext-geoview
	url = https://github.com/ckan/ckanext-geoview.git
[submodule "src/ckanext-harvest"]
	path = src/ckanext-harvest
	url = https://github.com/ckan/ckanext-harvest.git
