<p>*Double click to get data from Directory and Single Click to Select</p>
<div class="tree-wrapper" *ngIf="pageType == 'container'">
    <h1 *ngIf="containers.length <= 0"> No Containers Found</h1>
    <div class="folder-wrap" *ngIf="containers.length > 0">
        <ul class="list">
            <li class="list-item" *ngFor="let container of containers" (dblclick)="getFiles(container.name, '')">
                <div class="folder">
                    <p class="name">{{container.name}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="tree-wrapper" *ngIf="pageType == 'files'">
    <h1 *ngIf="files_and_directories.length <= 0"> No Files or Directory Found</h1>
    <div class="folder-wrap">
        <ul class="list">
            <li class="list-item" (click)="goBack()">
                <div class="folder">
                    <p class="name">..Back</p>
                </div>
            </li>
            <li class="list-item" *ngFor="let file of files_and_directories;let i=index" (click)="selectFile(file); activeFile=file" (dblclick)="getFiles(activeContainer, file.path)">
                <div class="folder"
                    [ngClass]="{'background': file === activeFile}">
                    <p class="name">{{file.name}}</p>
                </div>
            </li>
        </ul>
    </div>
    <div lass="form-actions" *ngIf="fileSelected">
        <button class="btn btn-primary" name="save" type="submit" (click)="goToResourcePage()">Select</button>
    </div>
</div>