<p>*Double click to get data from Directory and Single Click to Select</p>
<div class="tree-wrapper" *ngIf="pageType == 'container'">
    <h1 *ngIf="containers.length <= 0"> No Containers Found</h1>
    <div class="folder-wrap" *ngIf="containers.length > 0">
        <ul class="list">
            <li class="list-item" *ngFor="let container of containers" (dblclick)="getFiles(container.name, '', 1, records_per_page)">
                <div class="folder">
                    <p class="name">{{container.name}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="tree-wrapper" *ngIf="pageType == 'files'">
    <app-searchbar (onQueryChange)="getSearchResults($event, 1)"></app-searchbar>
    <h1 *ngIf="files_and_directories.length <= 0"> No Files or Directories Found</h1>
    <div class="folder-wrap">
        <ul class="list">
            <li *ngIf="!queryString" class="list-item" (click)="goBack()">
                <div class="folder">
                    <p class="name">..Back</p>
                </div>
            </li>
            <li class="list-item" [ngClass]="{'background': file === activeFile}" *ngFor="let file of files_and_directories;let i=index" (click)="selectFile(file); activeFile=file" (dblclick)="getFiles(activeContainer, file.path, 1, records_per_page)">
                <div class="folder">
                    <p class="name">{{file.name}}</p>
                    <p class="type">{{file.type}}</p>
                </div>
            </li>
        </ul>
    </div>
    <div lass="form-actions" *ngIf="fileSelected">
        <button class="btn btn-primary" name="save" type="submit" [disabled]="no_of_files == null" (click)="goToResourcePage()">Select</button>
    </div>
    <div *ngIf="totalRecords > 0">
        <app-pagination
        [totalRecords]="totalRecords"
        [recordsPerPage]="records_per_page"
        (onPageChange)="getPages($event)"></app-pagination>
        <div class="record-label">
            <strong>Records Per Page: </strong>
            <select [(ngModel)]="records_per_page">
                <option *ngFor="let option of recordsOptions" [ngValue]="option">{{option}}</option>
            </select>
        </div>
    </div>
</div>