<section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('Section Title Here') }}</h2>
    <div class="module-content">
      <p>
        {% trans %}
          Add package help text here.
        {% endtrans %}
      </p>
    </div>
</section>
<section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="fa fa-info-circle"></i> Dataset name</h2>
    <div class="module-content">
      <p>
        {% trans %}
          Choose for the Dataset name something that is understandable for people searching for data. There are no (strict) conventions on what needs to be in it. Just remember that many of the details will be in the other metadata fields so they don't all need to be included in the name.
        {% endtrans %}
      </p>
    </div>
</section>
<!-- Add more sections by duplicating the entire section block. -->
