{% extends "package/resource_read.html" %}

{%- set exclude_fields = [
'name',
'description',
'url',
'format',
] -%}
{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}

{% block resource_additional_information_inner %}
{% if res.datastore_active %}
{% block resource_data_dictionary %}
{{ super() }}
{% endblock %}
{% endif %}

<div class="module-content">
    <h2>{{ _('Additional Information') }}</h2>
    <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
        <tbody>
            {%- block resource_last_updated -%}
            <tr>
                <th scope="row">{{ _('Date Last Edited') }}</th>
                <td>{{ h.render_datetime(res.metadata_modified, '%Y-%m-%d') or h.render_datetime(res.revision_timestamp,
                    '%Y-%m-%d') or
                    h.render_datetime(res.created, '%Y-%m-%d') or _('unknown') }}</td>
            </tr>
            {%- endblock -%}
            {%- block resource_created -%}
            <tr>
                <th scope="row">{{ _('Created') }}</th>
                <td>{{ h.render_datetime(res.created,'%Y-%m-%d') or _('unknown') }}</td>
            </tr>
            {%- endblock -%}
            {%- block resource_format -%}
            <tr>
                <th scope="row">{{ _('Format') }}</th>
                <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
            </tr>
            {%- endblock -%}
            {%- block resource_license -%}
            <tr>
                <th scope="row">{{ _('License') }}</th>
                <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
            </tr>
            {%- endblock -%}
            {%- block table_data -%}
            {% if res.database_connection_type %}
            <tr>
                <th scope="row">{{ _('Database Connection Type') }}</th>
                <td>{{ res.database_connection_type }}</td>
            </tr>
            {% endif %}
            {% if res.database_connection %}
            <tr>
                <th scope="row">{{ _('Database Connection Name') }}</th>
                <td>{{ res.database_connection }}</td>
            </tr>
            {% endif %}
            {% if res.schema_name %}
            <tr>
                <th scope="row">{{ _('Schema Name') }}</th>
                <td>{{ res.schema_name }}</td>
            </tr>
            {% endif %}
            {% if res.table_name %}
            <tr>
                <th scope="row">{{ _('Table Name') }}</th>
                <td>{{ res.table_name }}</td>
            </tr>
            {% endif %}
            {% if res.resource_type == 'datalake' %}
            {% if res.datalake_data.container %}
            <tr>
                <th scope="row">{{ _('Datalake Container Name') }}</th>
                <td>{{ res.datalake_data.container }}</td>
            </tr>
            {% endif %}
            {% if res.datalake_data.file_path %}
            <tr>
                <th scope="row">{{ _('Datalake File Path') }}</th>
                <td>{{ res.datalake_data.file_path }}</td>
            </tr>
            {% endif %}
            {% if res.datalake_data.type %}
            <tr>
                <th scope="row">{{ _('Datalake Selected Resource Type') }}</th>
                <td>{{ res.datalake_data.type }}</td>
            </tr>
            {% endif %}

            {% endif %}
            {% if res.metadata and res.metadata.no_of_records %}
            <tr>
                <th scope="row">{{ _('No of Records') }}</th>
                <td>{{ res.metadata.no_of_records }}</td>
            </tr>

            {% endif %}

            {% if res.metadata and res.metadata.no_of_attributes %}
            <tr>
                <th scope="row">{{ _('No of Attributes') }}</th>
                <td>{{ res.metadata.no_of_attributes }}</td>
            </tr>

            {% endif %}

            {% if res.geo_metadata %}
            {% if res.geo_metadata.spatial_resolution %}
            <tr>
                <th scope="row">{{ _('Spatial Resolution') }}</th>
                <td>{{ res.geo_metadata.spatial_resolution }}</td>
            </tr>
            {% endif %}
            {% if res.geo_metadata.temporal_resolution %}
            <tr>
                <th scope="row">{{ _('Temporal Resolution') }}</th>
                <td>{{ res.geo_metadata.temporal_resolution }}</td>
            </tr>
            {% endif %}
            {% if res.geo_metadata.spatial_extent %}
            <tr>
                <th scope="row">{{ _('Spatial Extent') }}</th>
                <td>{{ res.geo_metadata.spatial_extent }}</td>
            </tr>
            {% endif %}
            {% if res.geo_metadata.temporal_extent %}
            <tr>
                <th scope="row">{{ _('Temporal Extent') }}</th>
                <td>{{ res.geo_metadata.temporal_extent }}</td>
            </tr>
            {% endif %}
            {% if res.geo_metadata.spatial_reference_system %}
            <tr>
                <th scope="row">{{ _('Spatial Reference System') }}</th>
                <td>{{ res.geo_metadata.spatial_reference_system }}</td>
            </tr>
            {% endif %}

            {% endif %}


            {%- endblock -%}

            {%- block resource_fields -%}
            {%- for field in schema.resource_fields -%}
            {%- if field.field_name not in exclude_fields
            and field.display_snippet is not none -%}
            <tr>
                <th scope="row">
                    {{- h.scheming_language_text(field.label) -}}
                </th>
                <td>
                    {%- snippet 'scheming/snippets/display_field.html',
                    field=field, data=res, entity_type='dataset',
                    object_type=dataset_type -%}
                </td>
            </tr>
            {%- endif -%}
            {%- endfor -%}
            {%- endblock -%}
        </tbody>
    </table>


</div>
{% endblock %}