<form class="border border-light p-5" [formGroup]="datalakeForm" (submit)="submit()">

    <p class="h4 mb-4">Add Resource from Datalake</p>
    <div class="form-group" *ngIf="!fetchDatalake">
        <button class="btn btn-primary" (click)="fetchDatalake = !fetchDatalake"> Select Data from
            Datalake</button>
    </div>
    <div *ngIf="fetchDatalake">
        <app-datalake-browser [pkg_name]="pkg_name" [type]="type" [resource]="resource"
            (selectedDatalakeResource)="selectedResource($event)">
        </app-datalake-browser>
    </div>

    <div *ngIf="!fetchDatalake">
        <div class="form-group" *ngIf="resourceSelected">
            <label class="control-label" for="field-selected_resource">Selected Directory/File</label>
            <input type="text" readonly [value]="resourceSelected" class="form-control mb-4" placeholder="Name">
        </div>
        <div class="form-group">
            <label class="control-label" for="field-name">Name</label>
            <app-validator *ngIf="f.name.invalid" [control]="f.name">
            </app-validator>
            <input type="text" formControlName="name" class="form-control mb-4" placeholder="Name">
        </div>
        <div class="form-group">
            <div class="form-select form-group " *ngIf="resourceSelected">
                <input type="checkbox" [checked]="is_geo" (change)="is_geo = !is_geo" /> Is Data is GEO Data?
            </div>
             <div class="form-group" *ngIf="is_geo">
                <label class="control-label" for="field-spatial_extent">Base File (for Auto-fill)</label>
                <select class="form-group mb-4" (change)="selectedBaseFilePath = $event.target.value">
                    <option hidden [value]="null" disabled selected>Choose file to generate spatial metadata from</option>
                    <option *ngFor="let file of list_of_files" [value]="file">{{file}}</option>
                </select>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary" *ngIf="is_geo && list_of_files.length > 0" [disabled]="selectedBaseFilePath === null" (click)="getGeoMetadata()">Auto-fill Spatial Metadata</button>
            </div>
            <div class="form-select form-group control-order-by" *ngIf="is_geo" formGroupName="geo_metadata">
                <label class="control-label" for="field-spatial_resolution">Cell Size</label>
                <input type="text" formControlName="spatial_resolution" class="form-control form-group"
                    placeholder="Spatial Resolution">
                <label class="control-label" for="field-temporal_resolution">Temporal Resolution</label>
                <input type="text" formControlName="temporal_resolution" class="form-control form-group"
                    placeholder="Temporal Resolution">
                <label class="control-label" for="field-spatial_extent">Spatial Extent</label>
                <input type="text" formControlName="spatial_extent" class="form-control form-group"
                    placeholder="Spatial Extent">
                <label class="control-label" for="field-temporal_extent">Temporal Extent</label>
                <input type="text" formControlName="temporal_extent" class="form-control form-group"
                    placeholder="Temporal Extent">
                <label class="control-label" for="field-spatial_reference_system">Spatial Reference System</label>
                <input type="text" formControlName="spatial_reference_system" class="form-control form-group"
                    placeholder="Spatial Reference System">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field-description">Description</label>
            <app-validator *ngIf="f.description.invalid" [control]="f.description">
            </app-validator>
            <textarea class="form-control rounded-0" formControlName="description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" for="field-format">Format</label>
            <input type="text" formControlName="format" class="form-control mb-4" placeholder="Format">
        </div>
        <div class="form-group" *ngIf="no_of_files > 0">
            <label class="control-label" for="field-format">No of Files</label>
            <input type="text" [value]="no_of_files" readonly class="form-control mb-4" placeholder="No of Files">
        </div>
        <div lass="form-actions">
            <button class="btn btn-danger float-start" name="delete" type='button'  (click)="delete()">Delete Resource</button>
            <button class="btn btn-primary float-end" name="save" type="submit">Submit</button>
        </div>
    </div>

</form>