<form class="border border-light p-5" [formGroup]="linkForm" (submit)="submit()">

    <p class="h4 mb-4">Resource with Link</p>
    <div class="form-group">
        <label class="control-label" for="field-url">URL</label>
        <app-validator *ngIf="f.url.invalid" [control]="f.url">
        </app-validator>
        <input type="text" formControlName="url" class="form-control mb-4" placeholder="URL">
    </div>
    <div class="form-group">
        <label class="control-label" for="field-name">Name</label>
        <app-validator *ngIf="f.name.invalid" [control]="f.name">
        </app-validator>
        <input type="text" formControlName="name" class="form-control mb-4" placeholder="Name">
    </div>
    <div class="form-group">
        <label class="control-label" for="field-description">Description</label>
        <app-validator *ngIf="f.description.invalid" [control]="f.description">
        </app-validator>
        <textarea class="form-control rounded-0" formControlName="description" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
        <label class="control-label" for="field-format">Format</label>
        <input type="text" formControlName="format" class="form-control mb-4" placeholder="Format">
    </div>
    <div lass="form-actions">
        <button class="btn btn-danger float-start" name="delete" type='button'  (click)="delete()">Delete Resource</button>
        <button class="btn btn-primary float-end" name="save" type="submit">Submit</button>
    </div>


</form>